extends layout

block append script

block content
	.row
		.col-sm-12
			if user
				h1 Welcome back #{user.name}
	.row
		.col-sm-6
			p Welcome back. You are on 6 lists with loads of gifts
		.col-sm-6
